In [18]:
pd.__version__

'1.2.4'

In [2]:
import pandas as pd

# name=input("Enter Name")
# number= input("Enter Number")
info=pd.read_csv("Info.csv",index_col="sr").astype(str)
info=info.dropna()
lst={"Name":"Ruben","Mobile Number":"875637289"}
info=info.append(lst,ignore_index=True)
info.reset_index().rename(columns={"index":"sr"}).to_csv("Info.csv", index=False)
# print(info)

      Name Mobile Number
0    Vaish    9987176645
1    Shlok    8467263272
2  Vishesh    3456344542
3    Ruben     875637289
4    Ruben     875637289
5    Ruben     875637289